* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

h1 {
  color: red;
  font-size: 40px;
  color: #e60a0a;
}

h4 {
  color: white;
}

main {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

section {
  background-color: rgb(0, 0, 0);
}

ul {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

h1 a {
  color: red;
}

nav ul li {
  color: white;
}

div p {
  color: white;
}

div h3 {
  font-size: 2rem;
}

/* header */
header {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
  width: 100%;
  height: 150px;
  background: #FF0000;
  background: -moz-radial-gradient(center, #FF0000 0%, #D70000 5%, #000000 100%);
  background: -webkit-radial-gradient(center, #FF0000 0%, #D70000 5%, #000000 100%);
  background: radial-gradient(ellipse at center, #FF0000 0%, #D70000 5%, #000000 100%);
}

.logo {
  width: 250px;
  height: 75px;
  margin-top: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: auto;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  margin-top: 105px;
  width: max-content;
  font-size: 14px;
}

.nav-list-link {
  padding: 6px 10px;
  border-radius: 5px;
}

.nav-list-link:hover {
  background-color: rgb(52, 52, 52);
  transition: 0.5s;
}

.nav-toggle {
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

@media (max-width: 992px) {
  header {
    background-color: black;
    color: white;
    padding: 1em;
    font-size: small;
  }
  .nav-toggle {
    display: block;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: max-content;
    font-size: 14px;
    background-color: rgb(115, 115, 115);
    position: fixed;
    left: 100%;
    transition: left 0.5s;
    top: 150px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 150px);
    overflow-y: auto;
  }
  .nav-list-link {
    padding: 6px 10px;
    border-radius: 5px;
  }
  .nav-list-link:hover {
    background-color: rgb(52, 52, 52);
    transition: 0.5s;
  }
  .nav-list_visible {
    left: 0;
  }
}
.section .container-titulo {
  position: relative;
}
.section .container-titulo img {
  width: 1900px;
  height: 150px;
}
.section .titulo {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serifgit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section .img-montania {
  width: 100%;
  height: 150px;
}
.section .section-box {
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.section .section-box .box-text .text {
  font-size: 1.1rem;
}
.section .section-box img {
  max-width: 300px;
}

@media (max-width: 420px) {
  .section-box {
    padding: 2rem;
    width: 100%;
    min-width: 200px;
    flex-direction: column;
  }
}
/* footer */
footer {
  background-color: black;
  border-color: aliceblue;
  width: 100%;
  height: 150px;
  background: #FF0000;
  background: -moz-radial-gradient(center, #FF0000 0%, #D70000 5%, #000000 100%);
  background: -webkit-radial-gradient(center, #FF0000 0%, #D70000 5%, #000000 100%);
  background: radial-gradient(ellipse at center, #FF0000 0%, #D70000 5%, #000000 100%);
}
footer img {
  margin: 10px;
}

.box {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: auto;
}

.box-2 {
  padding: 2rem;
}
.box-2 i {
  font-size: 25px;
  color: #fff;
  margin: 10px;
  border-radius: 25%;
  box-shadow: 0px 5px 10px rgb(255, 255, 255);
  transition: 0.3s ease;
}
.box-2 .fa-youtube:hover {
  background-color: red;
  box-shadow: 0 0 15px red, 0 0 45px red, 0 0 75px red, 0 0 100px red;
}
.box-2 .fa-tiktok:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  box-shadow: 0 0 15px rgb(255, 255, 255), 0 0 45px rgb(255, 255, 255), 0 0 75px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255);
}
.box-2 .fa-instagram:hover {
  background-color: rgb(224, 101, 19);
  color: #ffffff;
  box-shadow: 0 0 15px rgb(224, 101, 19), 0 0 45px rgb(224, 101, 19), 0 0 75px rgb(224, 101, 19), 0 0 100px rgb(224, 101, 19);
}

.box-3 {
  background-color: #1b1b1b;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .box {
    justify-content: center;
    align-items: center;
  }
  .box-2 {
    display: flex;
  }
  .logo {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
