* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

h1 {
  color: red;
  font-size: 40px;
  color: #e60a0a;
}

h4 {
  color: white;
}

main {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

section {
  background-color: rgb(0, 0, 0);
}

ul {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

h1 a {
  color: red;
}

nav ul li {
  color: white;
}

div p {
  color: white;
}

div h3 {
  font-size: 2rem;
}

/* header */
header {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
  width: 100%;
  height: 150px;
  background: #FF0000;
  background: -moz-radial-gradient(center, #FF0000 0%, #D70000 5%, #000000 100%);
  background: -webkit-radial-gradient(center, #FF0000 0%, #D70000 5%, #000000 100%);
  background: radial-gradient(ellipse at center, #FF0000 0%, #D70000 5%, #000000 100%);
}

.logo {
  width: 250px;
  height: 75px;
  margin-top: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: auto;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  margin-top: 105px;
  width: max-content;
  font-size: 14px;
}

.nav-list-link {
  padding: 6px 10px;
  border-radius: 5px;
}

.nav-list-link:hover {
  background-color: rgb(52, 52, 52);
  transition: 0.5s;
}

.nav-toggle {
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

@media (max-width: 790px) {
  header {
    background-color: black;
    color: white;
    padding: 1em;
    font-size: small;
  }
  .nav-toggle {
    display: block;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: max-content;
    font-size: 14px;
    background-color: rgb(115, 115, 115);
    position: fixed;
    left: 100%;
    transition: left 0.5s;
    top: 150px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 150px);
    overflow-y: auto;
  }
  .nav-list-link {
    padding: 6px 10px;
    border-radius: 5px;
  }
  .nav-list-link:hover {
    background-color: rgb(52, 52, 52);
    transition: 0.5s;
  }
  .nav-list_visible {
    left: 0;
  }
}
.container-titulo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  position: relative;
  display: inline-block;
  text-align: center;
}
.container-titulo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.container-titulo .titulo {
  color: rgba(255, 0, 0, 0.63);
  font-family: Arial, Helvetica, sans-serifgit;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------pagina CONTACTOS ------- */
/* Seccion de Contactos */
.contain-contactos {
  font-family: "Mulish", sans-serif;
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0 1.5em;
}

.contain-contactos > * {
  padding: 0.5em;
}

.contact-info {
  width: 100%;
  padding: 1em;
}
.contact-info .contact-info ul,
.contact-info li {
  padding: 1rem;
  font-size: small;
}

.maps {
  width: 100%;
  max-height: 400px;
  padding: 1rem;
  border: 2px solid red;
}

.contact-info h3 {
  margin: 0;
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
}

.contain-contactos form {
  padding-top: 70px;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contain-contactos form .block {
  grid-column: 1/3;
}

.contain-contactos form p {
  margin: 0;
  padding: 1.5em;
}

.contain-contactos form button,
.contain-contactos form input,
.contain-contactos form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d63031;
  color: rgb(255, 255, 255);
}

.contain-contactos form button {
  background: #d63031;
  color: black;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contain-contactos form button:hover,
.contain-contactos form button:focus {
  background: #f44c4c;
  color: #fff;
  transition: background-color 0.5s ease-out;
}

address {
  min-width: 320px;
  max-width: 1500px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  box-shadow: 0 0 20px 0 rgb(255, 255, 255);
}

/*------- Pantalla grande -------*/
@media (min-width: 768px) {
  .contain-contactos {
    padding: 0 4rem;
  }
  address {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-info {
    width: 100%;
  }
  .contact-info .contact-info ul,
  .contact-info li {
    padding: 1rem;
    font-size: 1rem;
  }
  .contact-info h3 {
    font-size: 2rem;
  }
}
/* footer */
footer {
  background-color: black;
  border-color: aliceblue;
  width: 100%;
  height: 150px;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #000000 65%, #FF0000 100%);
  background: -webkit-linear-gradient(top, #000000 0%, #000000 65%, #FF0000 100%);
  background: linear-gradient(to bottom, #000000 0%, #000000 65%, #FF0000 100%);
}
footer img {
  transform: translate(0, -40px);
}

.box {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.box-2 {
  padding: 2rem;
}
.box-2 i {
  font-size: 25px;
  color: #fff;
  margin: 10px;
  border-radius: 25%;
  box-shadow: 0px 5px 10px rgb(255, 255, 255);
  transition: 0.3s ease;
}
.box-2 .fa-youtube:hover {
  background-color: red;
  box-shadow: 0 0 15px red, 0 0 45px red, 0 0 75px red, 0 0 100px red;
}
.box-2 .fa-tiktok:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  box-shadow: 0 0 15px rgb(255, 255, 255), 0 0 45px rgb(255, 255, 255), 0 0 75px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255);
}
.box-2 .fa-instagram:hover {
  background-color: rgb(224, 101, 19);
  color: #ffffff;
  box-shadow: 0 0 15px rgb(224, 101, 19), 0 0 45px rgb(224, 101, 19), 0 0 75px rgb(224, 101, 19), 0 0 100px rgb(224, 101, 19);
}

.box-3 {
  background-color: #1b1b1b;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .box {
    justify-content: center;
    align-items: center;
  }
  .box-2 {
    display: flex;
  }
  .logo {
    display: none;
  }
}
/* ------Pagina INDEX------- */
.section {
  display: grid;
  place-items: center;
}

.section-box {
  padding: 2rem;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-box .box-text {
  justify-content: center;
}
.section-box .box-text .text {
  font-size: 1.1rem;
  padding: 1rem;
}
.section-box .estufa-img {
  max-width: 300px;
}

@media (min-width: 768px) {
  .section-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section-box .box-text {
    width: 600px;
    height: 400px;
    overflow-y: auto;
  }
  .section-box .box-text .text {
    height: 100%;
  }
  .section-box img {
    max-width: 250px;
  }
}
@media (min-width: 1024px) {
  .section-box {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .section-box .box-text {
    min-width: 1000px;
    height: 400px;
  }
  .section-box img {
    max-width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
