// ------- ENCENDIDO Y USO ------- //


.instrucciones{
    padding: 2rem;

    & h3{
        text-align: center;
        margin: 1rem;
    }

    & img{
        width: 100%;
    }
    
    .extraccion{

        
    }
    
}

