// ------- ENCENDIDO Y USO ------- //


.instrucciones{
    padding: 2rem;

    & h3{
        text-align: center;
        margin: 1rem;
    }

    & img{
        width: 100%;
    }
    
    & ol{
        padding: 1rem;
    }

    
}
@media screen and (min-width: 768px) {
        
    
        
    .instrucciones{

        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        
        
        
        
        & h3{
            text-align: left;
            margin: 1rem;
        }

        & p{
            max-width: 700px;
            margin-right: 2rem;
        }
        img{
            width: 240px;
        }
        
    }
    .extraccion{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 80px 1fr;
        
        & h3{
            grid-column: 1 / span 3 ;
        }

        & p{
            align-items: end;
        }
        
    }

    .encendido{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 80px 1fr;
        
        & h3{
            grid-column: 1 / span 3 ;
        }

        & p{
            align-items: end;
        }

        & img{
            height: 100%;
        }
        
    }

    .goteo{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 80px 1fr;
        
        & h3{
            grid-column: 1 / span 3 ;
        }
        
    }

    
}

