main {


    .importante{
    
    
    
        
    
        
        max-width: 1200px;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        
        
        & h3{
            text-align: center;
            margin: 1rem;
            font-size: 2rem;
            padding: 1rem;
        }
    
        & p{
            font-size: 1.5rem;
        }
    
        & ul{
            padding: 1rem;
        }
    }
}

