/* footer */
footer {
    background-color: black;



    border-color: aliceblue;
    width: 100%;
    height: 150px;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #000000 65%, #FF0000 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #000000 65%, #FF0000 100%);
    background: linear-gradient(to bottom, #000000 0%, #000000 65%, #FF0000 100%);


    & img {
        transform: translate(0, -40px);
        
    }
}

.box {
    width: auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;

    
}

.logo{
    margin-left: 1rem;
}




.box-2 {

    padding: 2rem;

    & i {

        font-size: 25px;
        color: #fff;
        margin: 10px;
        border-radius: 25%;
        box-shadow: 0px 5px 10px rgb(255, 255, 255);
        transition: .3s ease;
    }


    .fa-youtube:hover {
        background-color: red;
        box-shadow: 0 0 15px red,
            0 0 45px red,
            0 0 75px red,
            0 0 100px red;
    }

    .fa-tiktok:hover {
        background-color: rgb(255, 255, 255);
        color: #000000;
        box-shadow: 0 0 15px rgb(255, 255, 255),
            0 0 45px rgb(255, 255, 255),
            0 0 75px rgb(255, 255, 255),
            0 0 100px rgb(255, 255, 255);
    }

    .fa-instagram:hover {
        background-color: rgb(224, 101, 19);
        color: #ffffff;
        box-shadow: 0 0 15px rgb(224, 101, 19),
            0 0 45px rgb(224, 101, 19),
            0 0 75px rgb(224, 101, 19),
            0 0 100px rgb(224, 101, 19);
    }



}

.box-3 {
    background-color: #1b1b1b;
    padding: 15px;
    text-align: center;

}


@media screen and (max-width: 420px) {
    .box {
        justify-content: center;
        align-items: center;


    }

    .box-2 {
        display: flex;
    }

    .logo{
        display: none;
        
    }
}